.section {
  margin: 25px;

  &__whyus__card__container {
    @extend .flex;
    @extend .flex--center;
    @include media-prop(flex-direction, row, column, column);

    &>.card-content {
      @include media-prop(flex, 1, inherit, inherit);
      width: 40rem;
      margin: $--margin-s;
    }
  }

  &__features__card__container {
    &>.card-content {
      @include media-prop(flex-direction, row, column, column);
      text-align: left;
      &:nth-child(even) {
        @include media-prop(flex-direction, row-reverse, column, column);
      }
      & > div {
        margin: 0 20px;
      }
    }
  }

  &__faq__container {
    padding: $--paddding-xl;
  }
}