.card-content {
  text-align: center;
  border-radius: 5px;
  border: 1px solid $--color-grey;
  @extend .flex;
  @extend .flex--center;
  @extend .flex--center--col;
  padding: $--paddding-l $--paddding-m;
  margin: $--margin-m $--margin-l;

  &--shadow {
    border: 0;
    -webkit-box-shadow: 1px 7px 29px -12px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 1px 7px 29px -12px rgba(0, 0, 0, 0.72);
    box-shadow: 1px 7px 29px -12px rgba(0, 0, 0, 0.72);
  }

  &--extended {
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
  }

  &__container {
    word-break: break-word;

    &__img {
      @extend .flex;
      @extend .flex--center;
      height: 25rem;
      width: 25rem;
    }

    &__title {
      font-size: $--font-size-2xl;
    }

    &__description {
      font-size: $--font-size-s;
    }
  }
}