.card-content {
  text-align: center;
  border-radius: 5px;
  border: 1px solid $--color-dark-white;

  @extend .flex;
  @extend .flex--center;
  @extend .flex--center--col;
  padding: $--paddding-m;

  &--shadow {
    border: 0;
    -webkit-box-shadow: 1px 7px 29px -12px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 1px 7px 29px -12px rgba(0, 0, 0, 0.72);
    box-shadow: 1px 7px 29px -12px rgba(0, 0, 0, 0.72);
  }

  &--extended {
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    box-shadow: none;
    & .card-content__container__description {
      @include media-prop(width, 60%, 100%, 100%);
      line-height: 1.2;
    }
    & .card-content__container {
      @include media-prop(text-align, start, center, center);
    }
    & .card-content__container__img {
      filter: drop-shadow(1px 1px 1px #ddd);
      border-radius: $--paddding-m;
    }
  }

  &__container {
    word-break: break-word;

    &__img {
      @extend .flex;
      @extend .flex--center;
      max-height: 25rem;
      max-width: 25rem;
    }

    &__title {
      font-size: $--font-size-2xl;
      @extend .typo--sbold;
      line-height: 1.2;
      @include media-prop(margin-block, "nil", $--margin-s, $--margin-s);
    }

    &__description {
      font-size: $--font-size-s;
      color: $--color-grey;
      @extend .typo--medium;
    }
  }
}
