.faq__raw {
  // background-color: rgb(113, 80, 203);
  margin: 10px 0;
  text-transform: capitalize;
  font-size: $--font-size-s;
  border: 1px solid $--color-dark-white;
  padding: 10px 20px;
  transition: $--transition;
  &:hover {
    border-color: $--color-grey;
  }
  &__container {
    position: relative;
    transition: max-height 0.2s ease-out;
    cursor: pointer;

    &__icon {
      height: 2rem;
      width: 2rem;
      position: absolute;
      right: $--paddding-s;

      &:hover {
        background-color: $--color-dark-white;
        border-radius: 50%;
      }
    }

    &__title {
      text-align: left;
    }

    &__description {
      padding: $--paddding-s $--paddding-m;
    }
  }
}
