:root {
  --color-primary: '#f00';
  --color-secondary: "#eee";
  --color-ternarny: '#ddd';
  --color-black: '#ddd';
  --color-white: '#ddd';

  //font
  --font-family:open-sans, robot;
  //padding
  --padding-s: 1.2rem;
  --padding-m: 1.4;
  --padding-l: 1.8;
  --padding-xl: 2rem;
  --padding-2lx: 2.4rem;
  //margin
  --margin-s: 1.2rem;
  --margin-m: 1.4;
  --margin-l: 1.8;
  --margin-xl: 2rem;
  --margin-2lx: 2.4rem;
  //
  --transition: 0.3s;

}


$--color-primary: var(--color-primary);
$--color-secondary: var(--color-secondary);
$--color-ternarny: var(--color-ternarny);
$--color-black: var(--color-black);
$--color-white: var(--color-white);


$--font-family: var(--font-family);


$--padding-s: var(--padding-s);
$--padding-m: var(--padding-m);
$--padding-l: var(--padding-l);
$--padding-xl: var(--padding-xl);
$--padding-2lx: var(--padding-2xl);

$--margin-s: var(--margin-s);
$--margin-m: var(--margin-m);
$--margin-l: var(--margin-l);
$--margin-xl: var(--margin-xl);
$--margin-2lx: var(--margin-2lx);

$--transition: var(--transition);